$primary: #55c57a;
$secondary: #7ed56f;
$accent: #28b485;

$accent2-light: #ffb900;
$accent2-dark: #ff7730;

$accent3-light: #2998ff;
$accent3-dark: #5643fa;

$text-secondary: #777;
$text-dark: #999;

$bg-light: #f7f7f7;
$bg-dark: #333;

$white: #FFF;
$black: #000;
$gray-light: #eee;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//FONT
$default-font-size: 1.6rem;

//Box Shadows
$shadow: 0 1.5rem 4rem rgba($black, .15);